<config>
 <database>
  <username>root</username>
  <password>root4</password>
  <dbname>testapp</dbname>
  <host>localhost</host>
 </database>
 
 <core>
  <defaultController>book</defaultController>
  <defaultAction>index</defaultAction>
  <baseUrl>http://localhost/skrypty/pb/index.php</baseUrl>
  <siteUrl>http://localhost/skrypty/pb/</siteUrl>
 </core>
 
 <request>
  <file>index.php</file>
 </request>
</config>